<ion-header [translucent]="true">
  <header title="ホーム"></header>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-title>このサイトの説明</ion-card-title>
    <ion-card-content>作者の備忘録のようなものだと思ってください。技術系のことを書いて、ブログみたいな感じで公開しています。不定期に公開されるので、楽しみに待っていてください！（個人経営のサイトって結構怪しく思われてるみたいで、、、）</ion-card-content>
</ion-card>
<ion-card>
<ion-card-header>
  <ion-card-title>ご連絡</ion-card-title>
</ion-card-header>
<ion-card href="/question">
  <ion-card-title>記事募集中！</ion-card-title>
  <ion-card-content>詳しくは、記事募集欄へ</ion-card-content>
</ion-card>
</ion-card>
  
</ion-content>
